<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>RESUME</title>
	<link rel="stylesheet" href="style/index.css">
</head>

<body id="meidia">
	<section class="top">
		<div class="inline-wrapper">
			<span class="sequence">1</span>
			<span class="caret-down chidden icon-caret-down"></span>
			<span class="cg">&lt;!DOCTYPE html&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">2</span>
			<span class="caret-down icon-caret-down"></span>
			<span class="cr">&lt;html </span>
			<span class="cg">lang</span>
			<span>=</span>
			<span class="cy">"zh-cn"</span>
			<span class="cr">&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">3</span>
			<span class="caret-down icon-caret-down"></span>
			<span class="cr">&lt;head&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">4</span>
			<span class="caret-down chidden icon-caret-down"></span>
			<span class="cr l1">&lt;mete</span>
			<span class="cg">charset</span>
			<span>=</span>
			<span class="cy">"utf-8"</span>
			<span class="cr">&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">5</span>
			<span class="caret-down chidden icon-caret-down"></span>
			<span class="cr l1">&lt;title&gt;</span>
			<span class="title">Resume</span>
			<span class="cr">&lt;/title&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">6</span>
			<span class="caret chidden icon-caret-down"></span>
			<span class="cr">&lt;/head&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">7</span>
			<span class="caret-down  icon-caret-down"></span>
			<span class="cr">&lt;body&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">8</span>
			<span class="caret-down  icon-caret-down"></span>
			<span class="cr l1">&lt;header&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">9</span>
			<span class="caret-down chidden icon-caret-down"></span>
			<span class="cr l2">&lt;h1&gt;</span>
			<span class="strong1">ZhangYang's resume</span>
			<span class="cr">&lt;/h1&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">10</span>
			<span class="caret-down chidden icon-caret-down"></span>
			<span class="cr l1">&lt;/header&gt;</span>
		</div>
	</section>
	<section class="omitBtn">
		<div class="inline-wrapper">
			<span class="sequence">11</span>
			<span class="caret-right  icon-caret-right"></span>
			<span class="cr l1">&lt;section</span>
			<span class="cg">class</span>
			<span>=</span>
			<span class="strong2">"About-me"</span>
			<span class="cr">&gt;</span>
			<span class="omit">- - -</span>
			<span class="cr">&lt;/section&gt;</span>
		</div>
	</section>
	<!--about-me begin-->
	<section class="about-me content-wrapper op">
		<div class="inline-wrapper btn closeBtn" data-repeat="true">
			<span class="sequence">11</span>
			<span class="caret-down  icon-caret-down"></span>
			<span class="cr l1">&lt;section</span>
			<span class="cg">class</span>
			<span>=</span>
			<span class="strong2">"About-me"</span>
			<span class="cr">&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">12</span>
			<span class="caret-down chidden icon-caret-down"></span>
			<span class="cr l2">&lt;h2&gt;</span>
			<span class="strong3">关于我</span>
			<span class="cr">&lt;/h2&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">13</span>
			<span class="caret-down  icon-caret-down"></span>
			<span class="cr l2">&lt;p&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">14</span>
			<span class="caret-down chidden icon-caret-down"></span>

			<span class="l3 strong4">毕业于安阳工学院。</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">15</span>
			<span class="caret-down chidden icon-caret-down"></span>

			<span class="l3 strong4">有一个健康的身体和一颗积极探索,不怕失败的心。 </span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">15</span>
			<span class="caret-down chidden icon-caret-down"></span>

			<span class="l3 strong4">精通JavaEE技术、WEB技术、通信技术、对于大数据和数据挖掘有浓厚的兴趣。 </span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">15</span>
			<span class="caret-down chidden icon-caret-down"></span>

			<span class="l3 strong4">因为向往北京的生活,听过北漂的传说,目前就职于中化集团信息中心-电商事业部。 </span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">16</span>
			<span class="caret-down chidden icon-caret-down"></span>

			<span class="l3 strong4">精通Java语言,精通JavaScript语言和HTML5语言。</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">17</span>
			<span class="caret-down chidden icon-caret-down"></span>
			<span class="cr l2">&lt;/p&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">18</span>
			<span class="caret-down icon-caret-down"></span>
			<span class="cr l2">&lt;/ul&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">19</span>
			<span class="caret-down chidden  icon-caret-down"></span>
			<span class="cr l3">&lt;li&gt;</span>
			<span class="strong6">个人信息：张洋 男 河南/许昌</span>
			<span class="cr">&lt;/li&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">20</span>
			<span class="caret-down chidden  icon-caret-down"></span>
			<span class="cr l3">&lt;li&gt;</span>
			<span class="strong6">学历：安阳工学院   本科(统招)</span>
			<span class="cr">&lt;/li&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">21</span>
			<span class="caret-down chidden  icon-caret-down"></span>
			<span class="cr l3">&lt;li&gt;</span>
			<span class="strong6">专业：通信工程</span>
			<span class="cr">&lt;/li&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">22</span>
			<span class="caret-down chidden  icon-caret-down"></span>
			<span class="cr l3">&lt;li&gt;</span>
			<span class="strong6">兴趣方向：JavaWEB@服务器&大数据和云计算。</span>
			<span class="cr">&lt;/li&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">23</span>
			<span class="caret-down chidden  icon-caret-down"></span>
			<span class="cr l3">&lt;li&gt;</span>
			<span class="strong6">Email：zhangyang618@126.com</span>
			<span class="cr">&lt;/li&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">22</span>
			<span class="caret-down chidden  icon-caret-down"></span>
			<span class="cr l3">&lt;li&gt;</span>
			<span class="strong6">QQ：969666310</span>
			<span><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=969666310&site=qq&menu=yes" class="link">点我可以在线聊天哦</a></span>
			<span class="cr">&lt;/li&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">23</span>
			<span class="caret-down chidden  icon-caret-down"></span>
			<span class="cr l3">&lt;li&gt;</span>
			<span class="strong6">TEL：17600365585</span>
			<span class="cr">&lt;/li&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">24</span>
			<span class="caret-down chidden icon-caret-down"></span>
			<span class="cr l2">&lt;/ul&gt;</span>
		</div>
		<div id="logo" class="inline-wrapper btn hover">
			<span class="sequence">25</span>
			<span class="caret-down chidden  icon-caret-down"></span>
			<span class="cr l2">&lt;div&gt;</span>
			<span class="cr">&lt;img</span>
			<span class="cg">src</span>
			<span>=</span>
			<span class="strong5 mark">"img/me.jpg"</span>
			<span class="cg">alt</span>
			<span>=</span>
			<span class="strong5">"这就是我~~"</span>
			<span class="cr">&gt;</span>
			<span class="cr">&lt;/div&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">26</span>
			<span class="caret-right chidden icon-caret-right"></span>
			<span class="cr l1">&lt;/section&gt;</span>
		</div>
		
	</section>
	<!--about-me end-->
	<section class="omitBtn">
		<div class="inline-wrapper">
			<span class="sequence">27</span>
			<span class="caret-right  icon-caret-right"></span>
			<span class="cr l1">&lt;section</span>
			<span class="cg">class</span>
			<span>=</span>
			<span class="strong2">"Skills"</span>
			<span class="cr">&gt;</span>
			<span class="omit">- - -</span>
			<span class="cr">&lt;/section&gt;</span>
		</div>
	</section>
	<!--skills beging-->
	<section class="skills content-wrapper op">
		<div class="inline-wrapper btn closeBtn" data-repeat="true">
			<span class="sequence">27</span>
			<span class="caret-down  icon-caret-down"></span>
			<span class="cr l1">&lt;section</span>
			<span class="cg">class</span>
			<span>=</span>
			<span class="strong2">"Skills"</span>
			<span class="cr">&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">28</span>
			<span class="caret-down chidden icon-caret-down"></span>
			<span class="cr l2">&lt;h2&gt;</span>
			<span class="strong3">熟练掌握</span>
			<span class="cr">&lt;/h2&gt;</span>
		</div>
		<div class="inline-wrapper btn hover instruction" data-id="#code-chart">
			<span class="sequence">29</span>
			<span class="caret-down chidden  icon-caret-down"></span>
			<span class="cr l2">&lt;div&gt;</span>
			<span class="cr">&lt;img</span>
			<span class="cg">src</span>
			<span>=</span>
			<span class="strong5  mark">"code.jpg"</span>
			<span class="cg">alt</span>
			<span>=</span>
			<span class="strong5">"编程"</span>
			<span class="cr">&gt;</span>
			<span class="cr">&lt;/div&gt;</span>
		</div>
		<div class="inline-wrapper btn hover instruction" data-id="#design-chart">
			<span class="sequence">30</span>
			<span class="caret-down chidden  icon-caret-down"></span>
			<span class="cr l2">&lt;div&gt;</span>
			<span class="cr">&lt;img</span>
			<span class="cg">src</span>
			<span>=</span>
			<span class="strong5 mark">"design.jpg"</span>
			<span class="cg">alt</span>
			<span>=</span>
			<span class="strong5">"设计"</span>
			<span class="cr">&gt;</span>
			<span class="cr">&lt;/div&gt;</span>
		</div>
		<div class="inline-wrapper btn hover instruction" data-id="#tools-chart">
			<span class="sequence">31</span>
			<span class="caret-down chidden  icon-caret-down"></span>
			<span class="cr l2">&lt;div&gt;</span>
			<span class="cr">&lt;img</span>
			<span class="cg">src</span>
			<span>=</span>
			<span class="strong5 mark">"tools.jpg"</span>
			<span class="cg">alt</span>
			<span>=</span>
			<span class="strong5">"工具"</span>
			<span class="cr">&gt;</span>
			<span class="cr">&lt;/div&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">32</span>
			<span class="caret-right chidden icon-caret-right"></span>
			<span class="cr l1">&lt;/section&gt;</span>
		</div>
	</section>
	<!--skills end-->
	<section class="omitBtn">
		<div class="inline-wrapper">
			<span class="sequence">33</span>
			<span class="caret-right  icon-caret-right"></span>
			<span class="cr l1">&lt;section</span>
			<span class="cg">class</span>
			<span>=</span>
			<span class="strong2">"Projects"</span>
			<span class="cr">&gt;</span>
			<span class="omit">- - -</span>
			<span class="cr">&lt;/section&gt;</span>
		</div>
	</section>
	<!--projects begin-->
	<section class="projects content-wrapper op">
		<div class="inline-wrapper btn closeBtn" data-repeat="true">
			<span class="sequence">33</span>
			<span class="caret-down  icon-caret-down"></span>
			<span class="cr l1">&lt;section</span>
			<span class="cg">class</span>
			<span>=</span>
			<span class="strong2">"Projects"</span>
			<span class="cr">&gt;</span>
		</div>
		<div class="inline-wrapper ">
			<span class="sequence">34</span>
			<span class="caret-down chidden icon-caret-down"></span>
			<span class="cr l2">&lt;h2&gt;</span>
			<span class="strong3">项目列表</span>
			<span class="cr">&lt;/h2&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">35</span>
			<span class="caret-down  icon-caret-down"></span>
			<span class="cr l2">&lt;/ul&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">21</span>
			<span class="caret-down chidden  icon-caret-down"></span>
			<span class="cr l3">&lt;li&gt;</span>
			<span><a target="_blank" href="http://www.myfreecloud.cn/" class="link">我的项目列表</span>
			<span class="cr">&lt;/li&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">21</span>
			<span class="caret-down chidden  icon-caret-down"></span>
			<span class="cr l3">&lt;li&gt;</span>
			<span><a target="_blank" href="https://www.e-chemchina.com/" class="link">中化集团电商平台</a></span>
			<!--<span><a target="_blank" href="http://www.myfreecloud.cn/APP/Home-robot.apk" class="link">APP下载</a></span>-->
			<!--
			<span>源码：</span>
			<span><a target="_blank" href="暂不公开" class="link">GitHub</a></span>
            -->
			<span class="cr">&lt;/li&gt;</span>
		<div class="inline-wrapper">
			<span class="sequence">21</span>
			<span class="caret-down chidden  icon-caret-down"></span>
			<span class="cr l3">&lt;li&gt;</span>
			<span><a target="_blank" href="http://www.myfreecloud.cn/robot/control.php" class="link">自如服务管理系统</a></span>
			<!--
			<span>源码：</span>
			-->
			<!--<span><a target="_blank" href="http://www.myfreecloud.cn/APP/Think-robot.apk" class="link">APP下载</a></span>-->
			<span class="cr">&lt;/li&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">25</span>
			<span class="caret-down chidden icon-caret-down"></span>
			<span class="cr l2">&lt;/ul&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">33</span>
			<span class="caret-right chidden icon-caret-right"></span>
			<span class="cr l1">&lt;/section&gt;</span>
		</div>
	</section>
	<!--project end-->
	<section class="omitBtn">
		<div class="inline-wrapper">
			<span class="sequence">11</span>
			<span class="caret-right  icon-caret-right"></span>
			<span class="cr l1">&lt;section</span>
			<span class="cg">class</span>
			<span>=</span>
			<span class="strong2">"Contact-me"</span>
			<span class="cr">&gt;</span>
			<span class="omit">- - -</span>
			<span class="cr">&lt;/section&gt;</span>
		</div>
	</section>
	<!--contact me begin-->
	<section class="contact-me content-wrapper op">
		<div class="inline-wrapper btn closeBtn" data-repeat="true">
			<span class="sequence">33</span>
			<span class="caret-down  icon-caret-down"></span>
			<span class="cr l1">&lt;section</span>
			<span class="cg">class</span>
			<span>=</span>
			<span class="strong2">"Contact-me"</span>
			<span class="cr">&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">34</span>
			<span class="caret-down chidden icon-caret-down"></span>
			<span class="cr l2">&lt;h2&gt;</span>
			<span class="strong3">社交</span>
			<span class="cr">&lt;/h2&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">35</span>
			<span class="caret-down  icon-caret-down"></span>
			<span class="cr l2">&lt;/ul&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">21</span>
			<span class="caret-down chidden  icon-caret-down"></span>
			<span class="cr l3">&lt;li&gt;</span>
			<span><a target="_blank" href="http://www.myfreecloud.cn/" class="link">个人项目主页</a></span>
			<span class="cr">&lt;/li&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">21</span>
			<span class="caret-down chidden  icon-caret-down"></span>
			<span class="cr l3">&lt;li&gt;</span>
			<span><a target="_blank" href="http://weibo.com/u/5331505705" class="link">新浪微博</a></span>
			<span class="cr">&lt;/li&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">21</span>
			<span class="caret-down chidden  icon-caret-down"></span>
			<span class="cr l3">&lt;li&gt;</span>
			<span class="link">TEL:17839192592</span>
			<span class="cr">&lt;/li&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">21</span>
			<span class="caret-down chidden  icon-caret-down"></span>
			<span class="cr l3">&lt;li&gt;</span>
			<span class="link">QQ:969666310</span>
			<span><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=969666310&site=qq&menu=yes" class="link">撩我</a></span>
			<span class="cr">&lt;/li&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">25</span>
			<span class="caret-down chidden icon-caret-down"></span>
			<span class="cr l2">&lt;/ul&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">33</span>
			<span class="caret-right chidden icon-caret-right"></span>
			<span class="cr l1">&lt;/section&gt;</span>
		</div>
	</section>
	<!--end-->
	<section class="bottom">
		<div class="inline-wrapper">
			<span class="sequence">5</span>
			<span class="caret-down chidden icon-caret-down"></span>
			<span class="cr l1">&lt;footer&gt;</span>
			<span><a href="img/resume.zip" class="link2">Resume download <i class="www.myfreecloud.cn"></i></a></span>
			<span class="cr">&lt;/footer&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">7</span>
			<span class="caret chidden icon-caret-down"></span>
			<span class="cr">&lt;/body&gt;</span>
		</div>
		<div class="inline-wrapper">
			<span class="sequence">7</span>
			<span class="caret chidden icon-caret-down"></span>
			<span class="cr">&lt;/html&gt;</span>
		</div>
	</section>
	<div id="logo-wra">
		<div class="caretWra"><span class="icon-caret-down"></span></div>
		<div class="imgWra"><img src="img/me.jpg" alt="个人照"></div>

	</div>
	<div id="code-chart" class="chart">

		<div class="chart-wra">
			<canvas width="200" height="200"></canvas>
			<span class="strong7">JavaEE</span>
		</div>
		<div class="chart-wra">
			<canvas width="200" height="200"></canvas>
			<span class="strong7">JavaScript</span>
		</div>
		<div class="chart-wra">
			<canvas width="200" height="200"></canvas>
			<span class="strong7">HTML5</span>
		</div>
		<div class="chart-wra">
			<canvas width="200" height="200"></canvas>
			<span class="strong7">Python</span>
		</div>
		<div class="chart-wra">
			<canvas width="200" height="200"></canvas>
			<span class="strong7">网站开发</span>
		</div>		
		<div class="chart-wra">
			<canvas width="200" height="200"></canvas>
			<span class="strong7">微信公众号</span>
		</div>
		<div class="chart-wra">
			<canvas width="200" height="200"></canvas>
			<span class="strong7">微信小程序</span>
		</div>

		<div class="chart-wra">
			<canvas width="200" height="200"></canvas>
			<span class="strong7">手机APP</span>
		</div>

		<div class="closeWra"><span class="icon-close"></span></div>
	</div>
	<!-- 设计模块 -->
	<div id="design-chart" class="chart">
		<div class="chart-wra">
			<canvas width="200" height="200"></canvas>
			<span class="strong7">墨刀</span>
		</div>
		<div class="chart-wra">
			<canvas width="200" height="200"></canvas>
			<span class="strong7">Xmind</span>
		</div>
		<div class="chart-wra">
			<canvas width="200" height="200"></canvas>
			<span class="strong7">Viso Studio</span>
		</div>
		<div class="chart-wra">
			<canvas width="200" height="200"></canvas>
			<span class="strong7">PhotoShop</span>
		</div>
		<div class="closeWra"><span class="icon-close"></span></div>
	</div>
	<div id="tools-chart" class="chart">
		<div class="chart-wra">
			<canvas width="200" height="200"></canvas>
			<span class="strong7">Eclipse</span>
		</div>
		<div class="chart-wra">
			<canvas width="200" height="200"></canvas>
			<span class="strong7">IDEA</span>
		</div>
		<div class="chart-wra">
			<canvas width="200" height="200"></canvas>
			<span class="strong7">WebStorm</span>
		</div>
		<div class="chart-wra">
			<canvas width="200" height="200"></canvas>
			<span class="strong7">Sublime</span>
		</div>
		<div class="closeWra"><span class="icon-close"></span></div>
	</div>
	<script src="script/all.min.js"></script>
</body>

</html>
